@charset "utf-8";

body{
    background-image: url('../images/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    padding: 15px;
    margin: 0 auto;
}