@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    nav{
        display: block;
    }

    nav > a{
        display: inline-block;
        border-top: 2px solid rgb(80, 80, 80);
    }

    main{
        width: 768px;
    }
}